.country-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../assets/img/swiss.jpg);
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-top: 15vh;
}

.grid-container {
    display: grid;
    grid-gap: 50px 10px;
    grid-template-columns: 2fr 3fr;
    padding: 10px;
  }
.grid-container2 {
    display: grid;
    grid-gap: 50px 10px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
  }
.grid-container3 {
    display: grid;
    grid-gap: 50px 10px;
    grid-template-columns: 3fr 2fr;
    padding: 10px;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
    min-height: 40vh;
    background-size: cover;
    background-position: center;
  }

.hard-code1 {background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../assets/img/modern-residential-building-entrance-estate-PEV4T5F.jpg)}
.hard-code2 {background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../assets/img/landscape-of-switzerland-PEAL7R4.jpg)}
.hard-code3 {background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../assets/img/aerial-view-of-montreux-waterfront-switzerland-P2GTES8.jpg)}
.hard-code4 {background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../assets/img/aerial-view-of-ouchy-waterfront-in-lausanne-5CBZWQX.jpg)}
.hard-code5 {background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../assets/img/mountain-cabin-7GMFY29.jpg)}
.hard-code6 {background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../assets/img/aerial-view-of-zurich-city-in-switzerland-XKVSCWP.jpg)}
.hard-code7 {background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../assets/img/aerial-night-view-of-geneva-city-water-fountain-SE8LXPC.jpg)}